{% extends "base.html.twig" %}

{% block title %} - select Questions{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
    <form method="post">
        <div class="row">
            <div class="container-fluid text-center my-4">
                <h3 class="text-decoration-underline text-bold">Frage Nr {{ question.id }}</h3>
            </div>
            <div class="col-1">

            </div>
            <div class="col-7 w-60 bg-light rounded-3 my-1 mx-5 p-2 align-self-center">
                <div class="row align-self-center mx-5 pb-2">
                    <label class="col align-self-center bold btn btn-primary rounded-3 shadow btn-lg disabled mx-2 my-4 p-2 w-100">
                        <input type="hidden" name="questionId" value="{{ question.id }}">
                            {{ question.text }}
                    </label>
                </div>
                {% for answer in question.answers %}
                    {% set b_id = 1000 + answer.id %}
                    <div class="row align-self-center mx-5 pb-2">
                        <label class="col align-self-center bold btn btn-outline-secondary rounded-3 shadow btn-lg  mx-2 my-2 p-2 w-100"
                               data-bs-toggle='button' onclick="clickFn({{ answer.id }})">{{ answer.text }}
                            <input type="checkbox" name="answers[]" id="{{ answer.id }}" value="{{ answer.id }}"
                                   hidden="hidden">
                        </label>
                    </div>
                {% endfor %}
            </div>

        <div class="col-2 w-20 align-self-right">
            <div class="card align-self-center bg-light rounded-3 mx-4 my-5 py-3">
                <div class="card-body rounded-3">
                    <br>
                    <h5 class="card-title">Statistic Question #{{ question.id }}</h5>
                    <br>
                    <br>
                    <p class="card-text">{{ question.stats.timesAsked }} times asked</p>
                    <br>
                    <p class="card-text">{{ question.stats.timesRight }} times answered correct</p>
                </div>
            </div>
        </div>
        </div>


        <div class="container-flex p-1 m-1">
            <div class="row p-2 m-2">
                <div class="col-lg-4 text-center">
                    <label>
                        <input type="submit" name="reset" class="align-self-center btn-lg btn-info shadow-sm"
                               value="zurücksetzen">
                    </label>
                </div>
                <div class="col-lg-2 text-center">
                    <label>
                        <input type="submit" name="skip" class="align-self-center btn-lg btn-info shadow-sm"
                               value="Frage überspringen">
                    </label>
                </div>
                <div class="col-lg-3 text-center">
                    <label>
                        <input type="submit" name="confirm" class="align-self-center btn-lg btn-info shadow-sm"
                               value="Antwort abgeben">
                    </label>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </form>
    <script>
        function clickFn(id) {
            const checkbox = document.getElementById(id)
            document.getElementById(id).checked = !checkbox.checked;
        }
    </script>
{% endblock %}
