{% extends "base.html.twig" %}

{% block title %} Answer Questions{% endblock %}
{% block head %}
    <link href="/assets/css/answerQuestion.css" rel="stylesheet">
    <script src="/assets/js/answerQuestion.js"></script>
{% endblock %}
{% block onload %}
    initAnswerQuestion();
{% endblock %}
            {% block subtitle %}Frage {{ contentInfo.actual }} / {{ contentInfo.totalQuestions }}{% endblock %}
{% block contentleft %}

    <div class="row align-self-center mx-5 pb-2">
        <label class="col align-self-center bold btn btn-primary rounded-3 shadow btn-lg disabled mx-2 my-4 p-2 w-100">
            <input type="hidden" name="questionId" value="{{ question.id }}">
            {{ question.text }}
        </label>
    </div>
    {% for answer in question.answers %}

        <div class="row align-self-center mx-5 pb-2">
            <label class="answerLabels col align-self-center bold btn btn-outline-secondary rounded-3 shadow btn-lg  mx-2 my-2 p-2 w-100"
                   data-bs-toggle='button' id="l_id{{ answer.id }}">{{ answer.text }}

                <input type="checkbox" name="answers[]" id="a_id{{ answer.id }}" value="{{ answer.id }}"
                       hidden="hidden">
            </label>
        </div>
{#        {% if answer.id in answers %}#}
{#            <script>#}
{#                givenAnswers.push({{ answer.id }});#}
{#            </script>#}
{#        {% endif %}#}
    {% endfor %}
{% endblock %}
{% block contentright %}
    <div class="card align-self-center rounded-3 mx-4 my-5 py-3">
        <div class="card-body rounded-3">
            <br>
            <h5 class="card-title">Statistic Question #{{ question.id }}</h5>
            <br>
            <br>
            <p id="statsTimesAsked" class="card-text">{{ question.stats.timesAsked }} times asked</p>
            <br>
            <p id="statsTimesRight" class="card-text">{{ question.stats.timesRight }} times answered correct</p>

            <label id="labelClearStatsOfQuestion" class="btn btn-warning rounded-3 shadow-sm w-100" ><span id="labelClearStats"> clear Stats</span>
                <input id="clearStatsOfQuestion" type="checkbox" name="clearStats" value="{{ question.id }}" hidden>
            </label>
        </div>
    </div>
{% endblock %}
{% block buttons %}


    <div class="col-1 text-center"></div>
    <div class="col-2 text-center">
        <label>
            <input type="submit" name="setPrev" class="btn-lg btn-info shadow-sm"
                   value="previous question" id="prev">
        </label>
    </div>
    <div class="col-3 text-center">
    </div>
    <div class="col-2 text-center">
        <label>
            <input type="submit" name="setNext" class="btn-lg btn-info shadow-sm"
                   value="next question" id="next">
        </label>
    </div>
    <div class="col-4 text-center">
        <label>
            <input type="submit" name="finish" class="btn-lg btn-info shadow-sm"
                   value="finish quiz">
        </label>
    </div>
{% endblock %}
