{% extends "base.html.twig" %}

{% block title %} Answer Questions{% endblock %}
{% block head %}

{% endblock %}
            {% block subtitle %}Frage Nr {{ question.id }}{% endblock %}
{% block contentleft %}

    <div class="row align-self-center mx-5 pb-2">
        <label class="col align-self-center bold btn btn-primary rounded-3 shadow btn-lg disabled mx-2 my-4 p-2 w-100">
            <input type="hidden" name="questionId" value="{{ question.id }}">
            {{ question.text }}
        </label>
    </div>

    {% for answer in question.answers %}

        <div class="row align-self-center mx-5 pb-2">
            <label class="col align-self-center bold btn btn-outline-secondary rounded-3 shadow btn-lg  mx-2 my-2 p-2 w-100"
                   data-bs-toggle='button' onclick="clickFn({{ answer.id }})">{{ answer.text }}

                <input type="checkbox" name="answers[]" id="a_id{{ answer.id }}" value="{{ answer.id }}"
                       hidden="hidden">
            </label>
        </div>
    {% endfor %}
{% endblock %}
{% block contentright %}
    <div class="card align-self-center bg-light rounded-3 mx-4 my-5 py-3">
        <div class="card-body rounded-3">
            <br>
            <h5 class="card-title">Statistic Question #{{ question.id }}</h5>
            <br>
            <br>
            <p class="card-text">{{ question.stats.timesAsked }} times asked</p>
            <br>
            <p class="card-text">{{ question.stats.timesRight }} times answered correct</p>
        </div>
    </div>
{% endblock %}
{% block buttons %}

    <div class="col-lg-4 text-center">
        <label>
            <input type="submit" name="setActual" class="align-self-center btn-lg btn-info shadow-sm"
                   value="previous question">
        </label>
    </div>
    <div class="col-lg-2 text-center">
        <label>
            <input type="reset" name="skip" class="align-self-center btn-lg btn-info shadow-sm"
                   value="reset answers">
        </label>
    </div>
    <div class="col-lg-3 text-center">
        <label>
            <input type="submit" name="setActual" class="align-self-center btn-lg btn-info shadow-sm"
                   value="next question">
        </label>
    </div>

{% endblock %}
