{% extends "base.html.twig" %}

{% block title %} Auswertung Quiz {% endblock %}
{% block head %}

{% endblock %}
{% block subtitle %}
    Auswertung Quiz
{% endblock %}
{% block contentleft %}

    <table class="w-100 h-100 m-2 p-2">
        <tr>
            {% set counter = 0 %}
            {% for key,value in questions %}
            {% if counter % 5 == 0 %}
        </tr>
        <tr>
            {% endif %}
            <td class="w-20">
                {% set button = "btn-success" %}

                {% if value.isCorrect == 0 %}
                    {% set button = "btn-danger" %}
                {% endif %}
                <button type="button" class="btn-lg w-75 {{ button }} shadow m-2" data-bs-toggle="collapse"
                        data-bs-target="#details"
                        aria-expanded="false" aria-controls="details"
                        onclick="showDetails(this,'{{ value.text }}','{{ value.explanation }}', {{ value.answers }})">{{ key }}</button>
            </td>
            {% set counter = counter + 1 %}
            {% endfor %}
        </tr>

    </table>

{% endblock %}
{% block contentright %}
    <div class="card align-self-center bg-light rounded-3 mx-4 my-5 py-3">
        <div class="card-body rounded-3">
            <br>
            <h5 class="card-title">Statistic Quiz</h5>
            <br>
            <br>
            <p class="card-text">Questions asked: {{ asked }}</p>
            <br>
            <p class="card-text">Questions answered correct: {{ correct }}</p>
            <br>
            <p class="card-text">success rate: {{ rate }}</p>
        </div>
    </div>

    <div class="align-items-center text-center">
        <a href="quizquestion/">
            <label class="align-self-center btn-lg btn-info shadow-sm">zur체ck zum Hauptmen체
            </label>
        </a>
    </div>
{% endblock %}
{% block buttons %}
    <div class="col-lg-1 text-center"></div>
    <div class="col-lg-7  collapse multi-collapse card text-center bg-light rounded-3 mx-1 my-1 py-1" id="details">
        <h5 id="detailsQuestion" class="col card-title">Question</h5>
        <div class="card-body row row-cols-2 gx-2 rounded-3">
            <div id="detailsAnswers" class="col card-text">
                <p></p>
            </div>
            <div class="col card-text">
                <p class="btn-outline-info" id="legende">Richtige Antworten zu der Frage sind gr체n, falsche rot.<br>
                    Gew채hlte sind gelb
                    hinterlegt</p>
                <p></p>
                <p id="detailsDescription"></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 text-center"></div>
{% endblock %}
