{% extends "base.html.twig" %}

{% block title %} Auswertung Quiz {% endblock %}
{% block head %}

{% endblock %}
{% block subtitle %}
    Auswertung Quiz
{% endblock %}
{% block contentleft %}

            <table class="w-100 m-2 p-2">
                <tr>
                    {% set counter = 0 %}
                    {% for key,value in finalStats.validatedQuestions %}
                    {% if counter % 5 == 0 %}
                </tr>
                <tr>
                    {% endif %}
                    <td class="w-20">
                        {% if value === 0 %}
                            {% set button = "btn-danger" %}
                        {% else %}
                            {% set button = "btn-success" %}
                        {% endif %}
                        <button class="btn-lg w-75 {{ button }} shadow m-2">{{ key }}</button>
                    </td>
                    {% set counter = counter + 1 %}
                    {% endfor %}
                </tr>
            </table>
{% endblock %}
{% block contentright %}
            <div class="card align-self-center bg-light rounded-3 mx-4 my-5 py-3">
                <div class="card-body rounded-3">
                    <br>
                    <h5 class="card-title">Statistic Quiz</h5>
                    <br>
                    <br>
                    <p class="card-text">Questions asked: {{ finalStats.questionsAsked }}</p>
                    <br>
                    <p class="card-text">Questions answered correct: {{ finalStats.answeredCorrect }}</p>
                    <br>
                    <p class="card-text">success rate: {{ finalStats.rate }}</p>
                </div>
            </div>

{% endblock %}
{% block buttons %}
                <div class="align-items-center text-center">
                    <label>
                        <input type="submit" name="confirm" class="align-self-center btn-lg btn-info shadow-sm"
                               value="zurück zum Hauptmenü">
                    </label>
                </div>
{% endblock %}
