{% extends "base.html.twig" %}

{% block title %} - select Questions{% endblock %}
{% block head %}

{% endblock %}
{% block subtitle %}
    Auswahl Fragen
{% endblock %}
{% block contentleft %}

    <div class="row text-white p-2 m-2">
        <div class="col-lg-1 text-left">
            All
        </div>
        <div class="col-lg-1 align-items-right">
            <div class="form-check form-switch align-items-middle">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked"></label>
            </div>
        </div>
        <div class="col-lg-8 text-center">
            <p> Category </p>
        </div>
        <div class="col-lg-2 text-end">
            <p>Fragen in Category</p>
        </div>
    </div>
    {% set all = 0 %}
    {% for category in categories %}
        <div class="row  p-2 m-2">
            <div class="col-lg-1 text-left">
            </div>
            <div class="col-lg-1 align-items-right">
                <div class="form-check form-switch align-middle">
                    <input class="form-check-input" type="checkbox" role="switch" name="categories[]"
                           value="{{ category.id }}" id="flexSwitchCheckChecked[{{ category.id }}]" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked[{{ category.id }}]"></label>
                </div>
            </div>
            <div class="col-lg-8 bg-info rounded-3 text-left">

                {{ category.name }}
                <span class="badge bg-info justify-content-right">{{ category.number }}</span>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1 bg-info rounded-3 text-end">
                {{ category.number }}

            </div>
        </div>
        {% set all = all + category.number %}
    {% endfor %}
    <div class="row text-white p-2 m-2">
        <div class="col-lg-10 text-end">
            <p>Fragen gesamt:</p>
        </div>
        <div class="col-lg-2 text-end">
            <p> {{ all }} </p>
        </div>
    </div>
    <div class="row text-white p-2 m-2">
        <div class="col-lg-3 text-end">
            <script>let min = document.getElementById('customRange').min</script>
            {{ min }}
        </div>
        <div class="col-lg-6 text-center">
            <label for="customRange">Anzahl Fragen</label>
            <input type="range" name="range" class="form-range" min="1" max="{{ all }}" step="1" value="1"
                   id="customRange" oninput=" this.nextElementSibling.value = this.value">
            <div class="row">
                <script>let current = document.getElementById('customRange').value</script>
                {{ current }}
            </div>
        </div>
        <div class="col-lg-3 text-start">
            <script>let max = document.getElementById('customRange').max</script>
            {{ max }}
        </div>
    </div>
    {% endblock %}
{% block buttons %}

            <div class="col-lg-6 align-items-center text-center">
                <a href="http://abfrageprogramm.ddev.site:8443/">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
            <div class="col-lg-6 align-items-center text-center">
                <a href="http://abfrageprogramm.ddev.site:8443/select?categories=category[]&range=range">
                    <button class="btn btn-primary">Select Categories</button>
                </a>
            </div>
{% endblock %}
